@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    ---white: #fff;
    ---black: #000;
    ---prim: #34B476;
    ---grey1: #b4b4b4;
    ---grey2: #cacaca;
}
html{
    font-size: 62%;
}
body{
    font-family: "Poppins",sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(---black);
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 3rem;
}
.d-flex{
    display: flex;
    align-items: center;
}

.header{
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

.top-nav{
    background-color: var(---prim);
    font-size: 1.3rem;
    color: var(---white);
}

.top-nav div{
    justify-content: space-between;
    height: 4.5rem;
}

.top-nav a{
    padding: 0 0.5rem;
    color: var(---white);
}

.navigation{
    height: 6rem;
    line-height: 6rem;
}
.nav-center{
    justify-content: space-between;
}

.nav-center .nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-center .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
}

.nav-center .nav-link:hover{
    color: var(---prim);
}

.logo{
    padding-top: 1rem;
}